@tailwind base;
@tailwind components;
@tailwind utilities;


* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;
 font-family:'Poppins', sans-serif;
 font-weight: 200; 

}

/* 
body {

 
 --Rail-way: 'Raleway';
 --Public-Sans: 'Public Sans', sans-serif;
 --Poppings: 'Poppins', sans-serif;
 --Lato: 'Lato', sans-serif;
 --Roboto: 'Roboto Condensed', sans-serif;
 --Montserat: 'Montserrat', sans-serif;
} */




.hero2 {
    background-image:  url('/public/blob.svg');
    /* background-position: 10% 20%; */
    background-size: cover;
   
    background-repeat: no-repeat;
   }


.hero-section {
 background: rgba(0, 0, 0, 0.9) url('/public/nmi86.JPG');
 background-position: 10% 20%;
 background-size: cover;
 background-blend-mode: darken;
 background-repeat: no-repeat;
}


.active {
 display: flex;

 flex-direction: Column;
 justify-content: flex-center;
 align-items: center;
z-index:1;


 background-color: black;
 position: absolute;
 padding-top: 40px;
 top: 65px;
 width: 100%;
 height: 100%;
right: 20%
 ;
 transition-duration: 2s;
 transition: 3s ease-in-out;

}

.Contact-Hero{
 background: rgba(10, 10, 10,0.9) url("/public/nmi22.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 background-blend-mode: darken;


}